.calculator {
    font-family: 'Poppins', sans-serif; 
    display: flex;
    flex-direction: flex;
    align-items: center;
    justify-content: center;
    margin: 10vh;
  }
  
  .text {  
    background-color: #dedede;
    box-shadow: 1px 4px 4px #1f1f1e;
    border-radius: 0.7rem 0.7rem 0.7rem 0.7rem;
    width: 55vh;
    height: 200px;
    padding: 0.5rem;
  }
  
  .description {
    font-size: 20px;
    margin: 1rem;
    color: rgba(0, 0, 0, 0.7);
  }
  
  .nota {
    font-size: 50px;
    margin: 0;
    color: rgba(0, 0, 0, 0.8);
  }
  
  .status {
    font-size: 30px;
    margin: 0;
    color: rgba(0, 0, 0, 0.7);
  }