.label {
    margin-top: 10vh;
    color: #fff;
  }
  
  .inputs {
    display: flex;
    flex-direction: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-top: 10vh;
  }
  
  .input {
    width: 15%;
    border-radius: 0.3rem;
    padding: 0.25rem;
    border: none;
    text-align: center;
  }
  
  .button {
    margin-top: 1rem;
    background-color: blue;
    border: none;
    color: white;
    padding: 0.5rem 1rem;
    text-align: center;
    font-weight: 700;
    display: inline-block;
    border-radius: 0.5rem;
    box-shadow: 1px 4px 4px #1f1f1e;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #3d3d3a;
    color: #fff;
    transition: 0.5s;
  }