@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&family=Raleway:ital,wght@0,100;0,200;0,400;0,500;0,600;1,100;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&family=Raleway:ital,wght@0,100;0,200;0,400;0,500;0,600;1,100;1,300;1,400&display=swap');

body {
    font-family: 'Fredoka', sans-serif;
    background-size: 100vh;
    background-position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    background: linear-gradient(65deg, #013155, #06142e);
    min-height: 100vh;
    min-width: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5vh;
  }

  .container {
    text-align: center;
    padding: 20px;
    height: 100vh;
  }
  